In [44]:
import pandas as pd

datapath = "Resources/purchase_data.csv"
data_file = pd.read_csv(datapath)
data_file.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [137]:
# data_file.shape
list1 = data_file["SN"].value_counts()
total1 = len(list1)

list_playername = data_file["SN"].unique()
#total_player_number = pd.DataFrame({"total number":total1})
#total_player_number
total_player = len(list_playername)

#both total1 and total2 have the same answer

new1 = pd.DataFrame({"Total Players":[total_player]})
new1

   Total Players
0            576

In [90]:
unique_item_list = data_file["Item ID"].value_counts()
total_items = len(unique_item_list)
total_items

183

In [99]:
average_purchase_price = data_file["Price"].mean()
average_purchase_price2 = round(average_purchase_price, 2)
average_purchase_price2

3.05

In [73]:
total_number_purchas = len(data_file["Price"])
total_number_purchas

780

In [76]:
total_revenue = data_file["Price"].sum()
total_revenue

2379.77

In [100]:
new2 = pd.DataFrame({"Number of Unique Items": [total_items],
                    "Average Purchase Price":[average_purchase_price2],
                    "Total Number of Purchases":[total_number_purchas],
                    "Total Revenue":[total_revenue]})
new2

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

In [113]:
player_gender_list = data_file["Gender"]
# player_gender_list.head()
male_player = data_file.loc[data_file["Gender"] == "Male", :]
male_player_list = male_player["SN"].unique()
male_player_number = len(male_player_list)
male_player_number

484

In [116]:
female_player = data_file.loc[data_file["Gender"] == "Female", :]
female_player_list = female_player["SN"].unique()
female_player_number = len(female_player_list)
female_player_number

81

In [126]:
Other_NonDisclosed_player = (total_player - male_player_number - female_player_number)
Other_NonDisclosed_player

11

In [129]:
new2 = pd.DataFrame({"Total Count":[male_player_number, female_player_number, Other_NonDisclosed_player],
                     "Percentage of Players":[male_player_number/total_player, female_player_number/total_player, Other_NonDisclosed_player/total_player]})
new2

   Total Count  Percentage of Players
0          484               0.840278
1           81               0.140625
2           11               0.019097

In [138]:
#new3 = player_gender_list.groupby(["Gender"])
#new3.count()

In [139]:
new3 =

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object